@font-face {
  font-family: "Calvino";
  src: url("nvrfnshd-display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CodeNext";
  src: url("CodeNext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CodeNext";
  src: url("CodeNext-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
