@font-face {
  font-family: "Calvino";
  src: url("Calvino-Grande-Regular-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CodeNext";
  src: url("CodeNext-Trial-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CodeNext";
  src: url("CodeNext-Trial-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
